/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* Donde comienza el proyecto */

:root {
  --color-red: #FA504D;
  --color-black: #2E2F38;
  --color-white: #FFFFFF;
  --color-gray: #8E8E8E;
  --title-font: "Belgrano", serif;
  --text-font: "Poppins", sans-serif;
  --text-size: 12px;
  --text-size2: 16px;
  --text-size3: 24px;
}

body {

  background-color: var(--color-black);
  background-image: linear-gradient(to right, var(--color-white) 55%, var(--color-black) 55%);
}

.container {
  max-width: 1400px;
  padding: 20px 100px;
}

.header {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 70px;
  align-items: baseline;
  margin-bottom: 20px;
}

.header img {
  width: 80px;
}

.header ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 50px;
}

.header aside {
  margin-left: auto;
  display: flex;
  gap: 40px;
  align-items: baseline;
}


.header .menu li a {
  font-family: var(--text-font);
  font-size: var(--text-size);
  text-decoration: none;
  color: var(--color-black);
}


.header .menu li a:hover {
  text-decoration: underline;
}

.header aside a:first-of-type {
  font-family: var(--text-font);
  font-size: var(--text-size);
  font-weight: 500;
  color: var(--color-white);
  text-decoration: none;
}

.header aside a:first-of-type:hover {
  color: var(--color-red);
}

.header aside a:last-of-type {
  font-family: var(--text-font);
  font-size: var(--text-size);
  background-color: var(--color-red);
  padding: 7px 30px;
  font-weight: 500;
  text-decoration: none;
  color: var(--color-white)
}

.header aside a:last-of-type:hover {
  background-color: var(--color-white);
  color: var(--color-red);
}

.page {
  width: 100%;
  display: grid;
  grid-template-areas: "title product"
    "related product"
  ;
}

.page .title {
  grid-area: title;
}

.page .title h1 {
  font-family: var(--title-font);
  font-size: 40px;
  font-weight: 100;
  margin: 0;
  padding-top: 40px;

}

.page .title p {
  font-family: var(--text-font);
  font-size: var(--text-size2);
  color: var(--color-gray);
  margin-bottom: 35px;
}

.page .title a:first-of-type {
  font-family: var(--text-font);
  font-size: var(--text-size);
  color: var(--color-white);
  font-family: var(--text-font);
  color: var(--color-white);
  padding: 10px 50px;
  background-color: var(--color-red);
  text-decoration: none;
  transition: all 0.5s ease;

}

.page .title a:first-of-type:hover {

  background-color: var(--color-black);
  color: var(--color-red);

}

.page .title a:last-of-type {
  font-family: var(--text-font);
  font-size: var(--text-size);
  color: var(--color-black);
  font-family: var(--text-font);
  color: var(--color-black);
  padding: 10px 20px;
  text-decoration: underline;
  transition: all 0.5s ease;
}

.page .title a:last-of-type:hover {
  color: var(--color-white);
  background-color: var(--color-red);
  padding: 10px 20px;

}

.page .title a:last-of-type:after {
  content: url(../img/Arrow.svg);
  position: relative;
  top: 17px;
  left: 2px;

}

.options {
  position: relative;
}

.gallery-image {
  grid-area: product;
  justify-items: center;
}

.gallery-image img {
  width: 500px;
  padding: 0;
  margin: 0;
}

.gallery-image .image-info {
  box-sizing: border-box;
  background-color: var(--color-white);
  width: 550px;
  font-family: var(--text-font);
  padding: 10px;

}

.image-info .artist table {
  width: 100%;
  margin-left: 50px;
  padding-bottom: 30px;
}

.image-info .artist table th {
  font-family: var(--text-font);
  color: var(--color-gray);
  font-size: var(--text-size);
  width: 200px;
}

.image-info .artist table td {
  font-family: var(--title-font);
  font-size: var(--text-size2);
  font-weight: 600;
  color: var(--color-black);
  width: 200px;
}

.image-info .artist table th:first-of-type,
.image-info .artist table td:first-of-type {
  text-align: left;
}

.image-info .artist table th:last-of-type,
.image-info .artist table td:last-of-type {
  text-align: right;
}

.gallery-image .image-info table:before {
  background-image: url(../img/unsplash_XHVpWcr5grQ.png);
  background-size: 40px;
}

.artist:after {
  content: "";
  width: 100%;
  height: 2px;
  background-image: linear-gradient(black, black);
}

.gallery-image .image-info a:first-of-type {
  color: var(--color-white);
  background-color: var(--color-red);
  padding: 10px 40px;
  margin-right: auto;
}

.gallery-image .image-info a:last-of-type {
  color: var(--color-red);
  padding: 10px 40px;
  margin-left: auto;
}

.gallery-image .image-info a:hover {
  color: var(--color-black);
}

.more {
  grid-area: related;
}