/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* Donde comienza el proyecto */


:root {
  --color-red: #FA504D;
  --color-black: #2E2F38;
  --color-white: #FFFFFF;
  --color-gray: #8E8E8E;
  --title-font: "Belgrano", serif;
  --text-font: "Poppins", sans-serif;
  --text-size: 12px;
  --text-size2: 16px;
  --text-size3: 24px;
}

@mixin button () {
  display: inline-block;
  background-color: var(--color-red);
  color: white;
  padding: 7px 25px;
  text-decoration: none;
  text-align: center;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--text-font);
  font-size: var(--text-size);
}

body {

  background-image: linear-gradient(to right, var(--color-white) 55%, var(--color-black) 55%);
}

.container {
  max-width: 1400px;
  padding: 20px 100px;
}

.header {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 70px;
  align-items: center;
  margin-bottom: 20px;

  & a {
    text-decoration: none;
  }

  & img {
  width: 80px;
}

& ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 50px;
}

& .menu li a {
  
  color: var(--color-black);

  &:hover {
  text-decoration: underline;
}

}

& aside {
  margin-left: auto;
  display: flex;
  gap: 40px;
  align-items: baseline;

  & a:first-of-type {
  font-family: var(--text-font);
  font-size: var(--text-size);
  font-weight: 500;
  color: var(--color-white);
  text-decoration: dashed;
  &:hover {
  color: var(--color-red);
}
  }


& a.button {
  @include button();

  &:hover {
  background-color: var(--color-white);
  color: var(--color-red);
}
}

}




}

.page {
  width: 100%;
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 50px;

  & .title {
    grid-column: 1/span 1;


    & h1 {
      font-family: var(--title-font);
      font-size: 40px;
      font-weight: 100;
      margin: 0;
      padding-top: 40px;
      position: relative;
      & span {
        font-family: var(--title-font);
        font-size: 40px;
        background-image: url(../img/Vector.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
    & p {
      font-family: var(--text-font);
      font-size: var(--text-size2);
      color: var(--color-gray);
      margin-bottom: 35px;

      &::after {
        content: " ";
        display: block;
        background-image: linear-gradient(to right, red, red);
        width: 60px;
        height: 3px;
      }
    }

    & .options {
      display: flex;
      align-items: center;
      gap: 30px;

      & a.button {
        @include button();
        padding: 7px 40px;
        transition: all 0.2s ease;
        &:hover {
          background-color: var(--color-white);
          color: var(--color-red);
          border: 1px solid var(--color-red);
          font-weight: 600;
          padding: 7px 40px;
        }
      }
      & a:last-of-type {
        color: var(--color-black);
        text-decoration: none;
        transition: all 0.5s ease;
        &:hover {
          font-weight: bold;
          text-decoration: underline;
        }
      }
    }  
  
  

  }

  & .gallery-image {
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
 
    &::after {
      content: "Artzie.";
      display: block;
      width: 400px;
      height: 300px;
      color: white;
      opacity: 0.03;
      z-index: 1;
      font-family: var(--title-font);
      font-size: 200px;
      font-weight: 400;
      position: absolute;
      transform: rotate(90deg);
      right: -180px;
      top: 50px;
    }

    & .pic img {
        max-width: 430px;
      }

    & .image-info {
      width: 450px;
      background-color: var(--color-white);
      margin-left: auto;
      margin-right: auto;
      margin-top: -40px;
      position: relative;
      

      & img {
        display: inline-block;
        width: 40px;
        position: absolute;
        margin: 15px;
        padding-top: 3px;
      }

      
      & .artist {
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        padding: 20px;
        padding-bottom: 0;
        margin-left: 40px;
        color: var(--color-gray);
      }

      & .currency-price {
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        padding: 5px;
        padding-top: 0;
        padding-left: 40px;
        margin-left: 20px;
        margin-right: 20px;
        border-bottom: 1px solid var(--color-black);
      
      & p{
        font-weight: 600;
        font-size: var(--text-size2);
        
      }
      }

      & .buttons ul {
      list-style: none;
      display: flex;
      padding: 20px;
      justify-content: space-between;

      & a {
        @include button();
        width: 45%;
        &:hover {
          color: var(--color-red);
          background-color: var(--color-white);
        }
      }

      }
    }

    & .total {
      width: 450px;
      display: flex;
      justify-content: space-between;
      color: var(--color-white);
      padding: 20px 0;

      & span {
        color: var(--color-red);
        font-size: var(--text-size3);
        padding: 10px;
      }
    }
  }

  & .more {
    h2 {
      font-family: var(--title-font);
      font-size: var(--text-size2);
      font-weight: 400;
      margin-bottom: 20px;
    }

    .more-content {
      display: flex;
      justify-content: space-between;

      img {
        max-width: 85%;
        border: 1px solid var(--color-gray);
        padding: 10px;
      }
    }
  }
   
}

  



/*  




.gallery-image .image-info {
  box-sizing: border-box;
  background-color: var(--color-white);
  width: 550px;
  font-family: var(--text-font);
  padding: 10px;
  margin: 0;
}


.image-info .artist table {
  width: 100%;
  padding-left: 50px;
  padding-top: 8px;
  padding-right: 9px;
  padding-bottom: 15px;
  position: relative;
}

.image-info .artist table th {
  font-family: var(--text-font);
  color: var(--color-gray);
  font-size: var(--text-size);
  width: 200px;
}

.image-info .artist table td {
  font-family: var(--title-font);
  font-size: var(--text-size2);
  font-weight: 600;
  color: var(--color-black);
  width: 200px;
}

.image-info .artist table th:first-of-type,
.image-info .artist table td:first-of-type {
  text-align: left;
}

.image-info .artist table th:last-of-type,
.image-info .artist table td:last-of-type {
  text-align: right;
}

.gallery-image .image-info table::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url(../img/unsplash_XHVpWcr5grQ.png);
  background-size: cover;
  background-position: center;
  background-position: left center;

  position: absolute;
  top: 13px;
  left: 10px;

}

.artist::after {
  content: " ";
  display: block;
  width: 100%;
  height: 1px;
  background-color: black;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.gallery-image .image-info a:first-of-type {
  color: var(--color-white);
  text-align: center;
  background-color: var(--color-red);
  padding: 10px 40px;
  margin-right: auto;
  width: 45%;
}

.gallery-image .image-info a:last-of-type {
  color: var(--color-red);
  text-align: center;
  padding: 10px 40px;
  margin-left: auto;
  width: 45%;
}

.gallery-image .image-info a:hover {
  color: var(--color-black);
}

.total {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.total div {
  font-family: var(--text-font);
  color: var(--color-white);
  font-size: var(--text-size);
  padding: 5px;
  margin: 20px 0;
}

.total div span {
  font-size: var(--text-size3);
  color: var(--color-red);
  padding: 5px;
}


.more {
  grid-area: related;
}

.more .more-content {
  display: flex;
  gap: 20px;

}

.more .more-content article img {
  width: 100%;
  margin: 0;
  padding: 10px;
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
}
  */